@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* COLORS */
  --black: #222222;
  --green: #01665e;
  --white: #ffffff;
  --white-secondary: #faf9f6;
  --orange: #ff7700;
  --orange-secondary: rgba(255, 132, 0, 0.15);
  --white-green: #018e0d;
  --dark-green: #00534c;
  --white-green-secondary: rgba(94, 255, 0, 0.15);
  --white-white: #ffffff;
}
html {
  overflow-x: hidden !important;
}
body {
  font-family: "Gilroy";
  user-select: none;
}
.dark {
  --white: #222222;
  --black: #ffffff;
  --white-secondary: #222222;
  --green: #ffffff;
}
a {
  text-decoration: none;
  transition: 0.2s linear;
  position: relative;
}
a::before {
  content: "";
  position: absolute;
  background: var(--white);
  height: 1px;
  bottom: 0;
  width: 0%;
  transition: 0.2s linear;
}
a:hover::before {
  width: 100%;
}
h2 {
  font-family: "Florentia";
}

.container {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  overflow-x: hidden;
}

.header {
  height: 100vh;
  overflow-x: hidden !important;
  max-width: 100vw !important;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}

.header_swiper_content,
.header_pagination,
.header_pag {
  opacity: 0;
}
.header_royal {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  user-select: none;
  will-change: transform, width, height;
  transition: width 0.3s ease, height 0.3s ease, top 0.3s ease;

  width: 100%;
  height: auto;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}
.header_royal img {
  width: 100%;
  max-width: 90vw;
  height: 100%;
  object-fit: contain;
}
.nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 0.3s ease-in-out;
}
.nav.active {
  background: var(--white);
  a,
  p,
  svg {
    color: var(--black) !important;
  }
}
.nav.active a::before {
  background: var(--black);
}
.nav.hide {
  transform: translateY(-100%);
}
.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1310px;
  padding: 20px 15px;
  margin: 0 auto;
  position: relative;
}
.nav_left,
.nav_right {
  display: flex;
}
.nav_left {
  align-items: center;
  gap: 54px;
}
.nav_theme {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: var(--dark-green);
  transition: 0.1s linear;
  cursor: pointer;
}
.nav_theme:hover {
  opacity: 0.9;
}
.nav_phone {
  font-weight: 400;
  font-size: 16px;
  color: var(--white-white);
}
.nav_lang {
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  position: relative;
}
.nav_lang_block {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--white-white);
}
.nav_lang_block img {
  transition: 0.3s ease-in-out;
}
.nav_lang_block.active img:last-child {
  transform: rotate(180deg);
}
.nav_lang_block p {
  padding: 0 17px 0 5px;
  color: var(--white-white);
}
.nav_lang_content {
  position: absolute;
  background: var(--white);
  color: var(--black);
  top: 30px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
.nav_lang_content p {
  cursor: pointer;
  padding: 10px;
  transition: 0.1s linear;
}
.nav_lang_content p:hover {
  background: var(--black);
  color: var(--white);
}
.nav_lang_content p.active {
  background: var(--black);
  color: var(--white) !important;
}
.nav_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--white-white);
}
.nav_logo::before {
  content: unset;
}
.nav_right {
  gap: 30px;
  align-items: center;
}
.nav_objects {
  font-weight: 400;
  font-size: 14px;
  color: var(--white-white);
}
.burger_menu {
  color: var(--white-white);
  cursor: pointer;
}

/* header swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_pag {
  display: flex;
  z-index: 5;
}
.header_pag {
  display: flex;
  position: absolute;
  z-index: 3;
  right: 80px;
  bottom: 85px;
  gap: 5px;
  align-items: center;
}
.header_pag_next,
.header_pag_prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--white-white);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.header_pag_next:hover,
.header_pag_prev:hover {
  opacity: 0.8;
}
.swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.swiper-button-disabled:hover {
  opacity: 0.3;
}
.header_pagination {
  position: absolute;
  z-index: 3;
  left: 80px;
  bottom: 80px;
  color: var(--white);
  width: 100px;
  font-weight: 200;
  font-family: "Florentia";
  font-size: 18px;
}
.swiper-pagination-current {
  font-size: 37px;
}
.header_swiper_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}
.header_swiper_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  color: var(--white);
  text-align: center;
}
.header_swiper_content h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  color: var(--white-white);
  span {
    font-size: 45px;
  }
}
.header_swiper_content p {
  font-weight: 400;
  font-size: 18px;
  color: var(--white-white);
  font-family: "Florentia";
}

/* about */
.about {
  padding: 100px 0;
  background: var(--white);
}
.about_top_title {
  display: flex;
  justify-content: flex-end;
  height: 150px;
  z-index: 99;
}
.about_texts {
  max-width: 920px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--black);
  position: absolute;
  z-index: 1;
}
.about_top_text:first-child {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  span {
    color: var(--green);
  }
}
.about_top_text:last-child {
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
}
.about_content {
  display: flex;
  gap: 40px;
}
.about_left {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.about_us {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.about_us.mobile {
  display: none;
}
.about_us img {
  width: 100%;
  max-width: 242px;
}
.about_us h2 {
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  color: var(--black);
}
.about_us_text {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.about_us_text p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Gilroy";
  position: relative;
  line-height: 25px;
  color: var(--black);
  span {
    font-family: "Pramodia";
    font-size: 70px;
  }
}
.read {
  font-weight: 400;
  font-size: 14px;
  font-family: "Gilroy";
  background: var(--green);
  color: var(--white);
  border-radius: 50%;
  width: 143px;
  height: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  animation: pulse 2s infinite;
  opacity: 1;
}
.read::before,
.read::after {
  content: "";
  position: absolute;
  border: 2px solid var(--green);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  opacity: 0;
}
.read::after {
  animation-delay: 0.5s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse-ring {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  70%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.about_right {
  max-width: 60%;
  display: flex;
  img {
    width: 100%;
  }
}
.categories {
  background: var(--white-secondary);
  padding: 100px 0;
}
.categories_name {
  text-align: end;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  font-family: "Florentia";
  color: var(--black);
}
.categories_title {
  text-align: center;
  padding: 15px 0 30px 0;
  font-weight: 400;
  font-size: 60px;
  color: var(--black);
  span {
    color: var(--green);
  }
}
.categories_top {
  display: flex;
  justify-content: center;
}
.categories_top_objects {
  display: flex;
  background: var(--green);
  border-radius: 100px;
  padding: 8px;
  gap: 16px;
}
.categories_top_item {
  padding: 10px 20px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Gilroy";
  color: var(--white);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.categories_top_item:hover,
.categories_top_item.active {
  color: black;
  background: #f7f7f5;
  font-weight: 500;
}
.categories_statuses {
  display: flex;
  gap: 15px;
  padding: 30px 0 20px 0;
  flex-wrap: wrap;
}
.categories_status {
  padding: 10px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 100px;
  background: var(--white);
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  transition: 0.2s ease-in-out;
  color: var(--black);
}
.categories_status:hover {
  background: #f7f7f5;
  color: black;
}
.categories_status.active {
  background: #f7f7f5;
}
.categories_sort {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}
.categories_select {
  padding: 10px 16px;
  border-radius: 100px;
  border: 1px solid #e6e6e6;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  font-family: "Gilroy";
}

.range_slider {
  position: relative;
}
.range_slider input[type="range"] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2px;
  width: 85%;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  background: var(--black);
}
.range_slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: var(--black);
  border-radius: 50%;
  cursor: pointer;
}
.values {
  padding: 10px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 100px;
  display: flex;
  gap: 70px;
  background: var(--white);
  justify-content: space-between;
}
.categories_sort_status {
  display: flex;
  gap: 15px;
}

.categories_items {
  padding: 50px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px 20px;
}
.categories_item_title {
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 20px;
  color: var(--black);
}
.categories_item_info {
  display: flex;
  gap: 25px;
  align-items: center;
  padding-bottom: 15px;
  user-select: none;
}
.categories_item_status {
  padding: 6px 10px;
  border-radius: 100px;
  color: var(--orange);
  background: var(--orange-secondary);
  font-weight: 500;
  font-size: 14px;
  font-family: "Gilroy";
}
.categories_item_status.complete {
  background: rgba(94, 255, 0, 0.15);
  color: var(--white-green);
}
.categories_item_address {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
}
.categories_item_image {
  position: relative;
}
.categories_item_image img {
  width: 100%;
  object-fit: cover;
}
.categories_item_image p {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 14px;
  font-family: "Florentia";
  border-radius: 100px;
  position: absolute;
  top: 15px;
  left: 15px;
  line-height: normal;
}
.categories_item {
  width: calc(50% - 20px);
  max-width: 630px;
  flex-grow: 1;
}
.categories_swiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories_swiper .swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  background: rgba(255, 255, 255, 0.71) !important;
}
.categories_swiper .swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  background: var(--white) !important;
  border: 1px solid #c0c0c0 !important;
}
.categories_bottom {
  display: flex;
  justify-content: center;
}

.gsap-fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.gsap-fade-left {
  opacity: 1 !important;
  transform: translateX(-50px);
}

.gsap-fade-right {
  opacity: 0;
  transform: translateX(50px);
}

.gsap-scale-in {
  opacity: 0;
  transform: scale(0.9);
}

/* abous_us_number */
.abous_us_number {
  background: url("../img/about_us_number.png") center/cover no-repeat;
  width: 100%;
  color: var(--white);
  padding: 150px 0;
  height: 100vh;
  display: flex;
}
.abous_us_number_texts {
  max-width: 992px;
}
.abous_us_number_texts p {
  font-weight: 400;
  font-size: 42px;
  line-height: 54px;
  color: var(--white-white);
}
.abous_us_number_texts span {
  font-size: 158px;
  font-family: "Pramodia";
  span {
    font-size: 42px;
    font-family: "Gilroy";
  }
}
.abous_us_number_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.abous_us_number_items {
  display: flex;
  justify-content: space-between;
}
.abous_us_number_item h2 {
  font-family: "Florentia";
  font-weight: 300;
  font-size: 112px;
  color: var(--white-white);
}
.abous_us_number_item p {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: 300;
  color: var(--white-white);
}

/* reviews */
.reviews {
  padding: 160px 0;
  background: var(--white);
}
.reviews_top_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews_top_title h2 {
  color: var(--black);
  font-weight: 400;
  font-size: 60px;
  max-width: 685px;
  span {
    color: var(--dark-green);
  }
}
.reviews_top_title p {
  font-weight: 300;
  font-family: "Florentia";
  font-size: 18px;
  color: var(--black);
  font-style: italic;
}
.reviews_items {
  display: flex;
  padding-top: 75px;
  gap: 80px;
}
.reviews_item {
  display: flex;
  align-items: flex-end;
  gap: 60px;
  flex-grow: 1;
}
.reviews_item_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.reviews_item_social {
  padding-top: 20px;
}
.reviews_item_info h2 {
  font-weight: 400;
  font-size: 25px;
  color: var(--black);
  font-family: "Gilroy";
}
.reviews_item_info p {
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}
.reviews_item_social {
  padding: 5px 20px;
  border: 1px solid #dddddd;
  border-radius: 100px;
  text-decoration: none;
  color: #464646;
}
.reviews_item_image {
  padding-bottom: 100px;
  img {
    width: 240px;
    height: 250px;
    object-fit: cover;
  }
}
.reviews_subtitle {
  max-width: 420px;
  padding-right: 50px;
  position: relative;
  color: var(--black);
}
.reviews_subtitle_title {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  right: 100px;
  top: 60px;
  padding-left: 70px;
  span {
    font-family: "Pramodia";
    font-size: 70px;
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
  }
}
.reviews_bottom {
  padding-top: 240px;
  display: flex;
  position: relative;
}
.reviews_bottom_item {
  position: absolute;
  right: 0;
  top: -110px;
  max-width: 565px;
}
.reviews_item_info {
  max-width: 313px;
}
.reviews_all {
  display: flex;
  justify-content: flex-end;
}
.ponorama {
  background: url("../img/ponorama_bg.png") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 50px;
  cursor: none;
}
.ponorama_content h2 {
  font-weight: 400;
  font-size: 42px;
  color: var(--white-white);
}

/* news */
.news {
  padding: 80px 0;
  background: var(--white-secondary);
}
.news_top {
  display: flex;
  flex-direction: column;
}
.news_top_title {
  display: flex;
  gap: 40px;
  align-items: center;
}
.news_top_title h2 {
  font-weight: 400;
  font-size: 60px;
  color: var(--black);
}
.news_top_title p {
  font-family: "Florentia";
  font-weight: 200;
  font-size: 56px;
  color: var(--black);
  span {
    font-family: "Pramodia";
    font-size: 130px;
  }
}
.news_top_text {
  display: flex;
  justify-content: flex-end;
}
.news_top_text p {
  font-weight: 400;
  font-size: 60px;
  color: var(--black);
  max-width: 1140px;
}
.news_left {
  display: flex;
  flex-direction: column;
  max-width: 710px;
  align-items: start;
}
.news_item_date {
  font-weight: 500;
  font-size: 14px;
  padding: 20px 0;
  border-top: 1px solid #bababa;
  color: #7a7a7a;
  width: 100%;
}
.news_item_title {
  padding: 15px 0;
  font-weight: 500;
  font-size: 20px;
  font-family: "Gilroy";
  color: var(--black);
}
.news_item_bottom {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  border-bottom: 1px solid #bababa;
  width: 100%;
}
.reviews_item_social.mobile {
  display: none;
}
.news_left .news_item_img {
  max-width: 710px;
  width: 100%;
  object-fit: cover;
}
.news_block {
  padding-top: 150px;
  display: flex;
  gap: 135px;
}
.news_item {
  display: flex;
  flex-direction: column;
  max-width: 435px;
}
.news_right {
  display: flex;
  flex-direction: column;
}
.news_item .news_item_img {
  max-height: 255px;
  object-fit: cover;
}
.news_bottom {
  display: flex;
  justify-content: flex-end;
  padding-top: 70px;
  padding-right: 120px;
}

/* contacts */
.contacts {
  padding: 210px 0 100px 0;
  background: var(--white);
}
.contacts_title {
  font-weight: 400;
  font-size: 60px;
  color: var(--black);
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 69px;
  span {
    color: var(--dark-green);
  }
}
.contacts_form {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  max-width: 825px;
  margin: 0 auto;
  align-items: center;
}
.contacts_input {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  outline: none;
  font-weight: 400;
  font-size: 21px;
  color: var(--black);
  background: unset;
}
.contacts_input::placeholder {
  color: #787878;
}
.contacts_btn {
  background: unset;
  border: none;
}

/* footer */
.footer {
  background: #181717;
  padding: 90px 0;
  color: var(--white-white);
}
.footer_content {
  display: flex;
  justify-content: space-between;
}
.footer_title {
  font-weight: 400;
  font-size: 56px;
  font-family: "Florentia";
  max-width: 930px;
}
.footer_left {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.footer_email {
  font-weight: 400;
  font-size: 16px;
}
.footer_info {
  font-weight: 300;
  font-size: 16px;
  color: #969696;
  padding-top: 18px;
  max-width: 420px;
}
.footer_socials {
  padding-top: 115px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_items {
  display: flex;
  justify-content: space-between;
}
.footer_social {
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    font-weight: 400;
    font-size: 14px;
    font-family: "Florentia";
    color: var(--white-white);
  }
}
.footer_phones {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: start;
}
.footer_phone {
  font-weight: 400;
  font-size: 16px;
  color: var(--white-white);
}
.footer_address {
  padding: 50px 0 20px 0;
}
.footer_address_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
  color: #969696;
}
.footer_bottom {
  padding: 25px 0 35px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.27);
  background: #181717;
}
.footer_bottom_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_bottom_title {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  span {
    font-weight: 500;
    opacity: 1;
    color: var(--white-white);
  }
}
.footer_mobile {
  display: none;
}
.range_item {
  color: var(--black);
}


/*  */
.custom-cursor, .ponorama_cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 348px;
  height: 348px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--green);
  font-weight: bold;
  font-size: 24px;
  background: transparent;
  user-select: none;
  position: fixed;
  font-weight: 500;
  font-size: 22px;
  font-family: "Gilroy";
  text-transform: uppercase;
}

.custom-cursor span {
  position: relative;
  z-index: 10;
  background: transparent;
}

.rings {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 348px;
  height: 348px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ponorama_cursor {
  color: var(--white-white);
}
.ponorama_cursor .ring {
  border: 2px solid var(--white-white);
}

.ring {
  position: absolute;
  border: 2px solid var(--green);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
.ring1 {
  width: 348px;
  height: 348px;
}
.ring2 {
  width: 338px;
  height: 338px;
  opacity: 0.7;
}
.ring3 {
  width: 328px;
  height: 328px;
  opacity: 0.4;
}
.reviews_content {
  cursor: none;
}

@media screen and (max-width: 980px) {
  .about_content {
    flex-direction: column-reverse;
  }
  .about_right {
    gap: 17px;
    max-width: unset;
    align-items: flex-end;
  }
  .about_us {
    display: none;
  }
  .about_us.mobile {
    display: flex;
    flex-grow: 1;
    img {
      max-width: unset;
    }
  }
  .about_right_img {
    max-width: 60%;
    flex-grow: 1;
  }
  .about_left {
    max-width: unset;
  }
  .about_bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .categories_statuses {
    gap: 8px;
  }
  .categories_sort_status {
    flex-wrap: wrap;
    gap: 8px;
  }
  .abous_us_number_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 65px;
    padding-top: 65px;
  }
  .reviews_bottom_item {
    position: unset;
    top: unset;
  }
  .reviews_bottom {
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
  }
  .reviews_items {
    flex-direction: column;
  }
  .reviews_subtitle {
    padding-bottom: 60px;
    max-width: unset;
  }
  .reviews_subtitle_title {
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .reviews_subtitle_title span {
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  .news_block {
    gap: 20px;
  }
  .news_top_text p {
    font-size: 42px;
  }
  .news_top_title h2 {
    font-size: 54px;
  }
}
@media screen and (max-width: 860px) {
  .news_block {
    flex-direction: column;
  }
  .news_left {
    max-width: unset;
  }
  .news_left .news_item_img {
    max-width: unset;
    max-height: 400px;
    object-fit: cover;
  }
  .news_item {
    max-width: unset;
  }
  .contacts_title {
    font-size: 36px;
  }
  .contacts {
    padding: 100px 0;
  }
  .footer_content {
    flex-direction: column;
  }
  .footer_right.mobile {
    display: none;
  }
  .footer_mobile {
    display: block;
  }
  .footer_item {
    display: none;
  }
  .footer_mobile_items {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
  .footer_address {
    padding: unset;
    padding-bottom: 12px;
  }
  .footer_mobile_items:nth-child(2) {
    padding-top: 50px;
  }
  .footer_socials {
    padding-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .nav_left {
    display: none;
  }
  .nav_right {
    width: 100%;
    justify-content: space-between;
  }
  .about_top_text:last-child,
  .about_top_text:first-child {
    font-size: 16px;
  }
  .about_top_title {
    height: 60px;
  }
  .categories_title {
    font-size: 26px;
  }
  .categories_item_title {
    font-size: 30px;
  }
  .categories_item {
    max-width: unset;
    width: 100%;
  }
  .abous_us_number_item h2 {
    font-size: 64px;
  }
  .abous_us_number_item p {
    font-size: 14px;
  }
  .abous_us_number_texts p {
    font-size: 21px;
    line-height: 36px;
  }
  .abous_us_number_texts span {
    span {
      font-size: 21px;
    }
    font-size: 52px;
  }
  .reviews_top_title h2 {
    font-size: 22px;
  }
  .reviews_item_info {
    max-width: unset;
  }
  .reviews_item_image img {
    width: 120px;
    height: 125px;
  }
  .reviews_item_info h2 {
    font-size: 18px;
  }
  .reviews_item_info p {
    font-size: 14px;
  }
  .reviews_item {
    justify-content: space-between;
  }
  .ponorama_content h2 {
    font-size: 21px;
  }
  .news_top_title h2 {
    font-size: 22px;
  }
  .news_top_title p {
    font-size: 22px;
    span {
      font-size: 60px;
    }
  }
  .news_top_text p {
    font-size: 22px;
  }
  .news {
    padding: 50px 0;
  }
  .news_block {
    padding-top: 57px;
  }
  .news_item_title {
    font-size: 18px;
  }
  .news_item_bottom {
    display: none;
  }
  .reviews_item_social.mobile {
    display: block;
  }
  .news_item {
    align-items: start;
  }
  .news_item .news_item_img {
    width: 100%;
  }
  .news_item_date {
    display: none;
  }
  .news_right {
    gap: 20px;
  }
  .footer_title {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .header_swiper_content h2 {
    font-size: 24px;
  }
  .header_swiper_content span {
    font-size: 36px;
  }
  .header_swiper_content p {
    font-size: 16px;
  }
  .about_top_title {
    height: 80px;
  }
  .about_us_text p {
    font-size: 14px;
  }
  .read {
    font-size: 10px;
  }
  .categories_title {
    font-size: 22px;
  }
  .categories_top_item,
  .categories_status,
  .categories_status,
  .categories_select,
  .range_item {
    font-size: 14px;
  }
  .categories_item_title {
    font-size: 22px;
  }
  .categories_item_status,
  .categories_item_address {
    font-size: 12px;
  }
  .categories_item_image p {
    font-size: 10px;
  }
  .abous_us_number_items {
    gap: 25px;
  }
  .reviews {
    padding: 66px 0;
  }
  .reviews_items {
    padding-top: 20px;
    gap: 60px;
  }
  .contacts_title {
    font-size: 22px;
  }
  .contacts_input::placeholder {
    font-size: 18px;
  }
  .contacts_input {
    font-size: 18px;
  }
  .contacts {
    padding: 50px 0;
  }
  .footer_mobile_items {
    gap: 10px;
  }
  .footer_right img {
    max-width: 120px;
  }
  .footer_info,
  .footer_phone,
  .footer_address,
  .footer_address_item {
    font-size: 14px;
  }
  .footer_bottom_title {
    font-size: 12px;
  }
}
